body {background-color: gray;}

form{
  width: 550px;
  height: 40px;
  margin: 15px;
  background-color: green;
  text-align: center;
}

li{
  display:inline-block;
}

button{
  width: 150px;
  height: 40px;
  margin: 15px;
  background-color: black;
  color: green;
  margin: 0;
  display:inline-block;
  border: 5px dotted green;
}

.aliveButton{
  display: inline-block;
  width: 400px;
  height: 40px;
  margin: 15px;
  background-color: black;
  color: white;
  border: 5px dotted white;
  display: inline;
}

.deadButton{
  display: inline-block;
  width: 400px;
  height: 40px;
  margin: 15px;
  background-color: black;
  text-decoration: line-through;
  color: gray;
  border: 5px dotted gray;
  display: inline;
}

.deleteButton{
  width: 150px;
  height: 40px;
  margin: 15px;
  background-color: black;
  color: green;
  margin: 0;
  border: 5px dotted green;
  display: inline;
}
